DB_URL=postgresql+asyncpg://hotel_user:hotel_password@db:5432/hotel_db
POSTGRES_USER=hotel_user
POSTGRES_PASSWORD=hotel_password
POSTGRES_DB=hotel_db
ECHO=false

TEST_DB_URL=postgresql+psycopg://hotel_user_test:hotel_password_test@localhost:5000/hotel_db_test
TEST_DB_ECHO=false


SECRET_KEY=change-me-to-a-random-secret
ALGORITHM=HS256

REDIS_URL=redis://redis_broker:6379/0

CLEANING_BUFFER_HOURS=2
